.select{
    border: none;
    text-align-last: center;
}
.form-case{
    display: grid;
    max-width: 600px;
    text-align-last: center;
    margin-left: inherit;
}

.button-submit{
    margin-bottom: 50px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
  }